form {
  margin-top: 50px;
}

legend {
  padding-left: 60px;
  text-align: left;
  font-size: 40px;
  width: 250px;
}

legend,
label {
  padding-top: 30px;
}

input {
  padding-right: 150px;
  padding-bottom: 5px;
}

#mensagem,
label,
textarea,
legend,
span,
.numerotelefone {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

textarea {
  padding-left: 10px;
  padding-right: 200px;
  padding-bottom: 50px;
}

ul {
  width: 300px;
  padding-bottom: 30px;
  list-style: none;
  font-size: 20px;
}

.numerotelefone {
  padding: 60px 0px;
  margin-left: 5px;
  text-align: left;
  font-size: 20px;
}

.social {
  margin-top: 10px;
  margin-left: 5px;
  text-align: left;
}

.social img {
  display: inline-block;
  margin-right: 5px;
}