fieldset {
    margin-top: 150px;
}

legend {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    width: 350px;
}

input {
    padding-right: 150px;
    padding-bottom: 5px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(68, 12, 26);
    border-radius: 4px;
    padding-right: 150px;
}

span,
label {
    padding-left: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

select:focus {
    outline: none;
    border: 2px solid rgb(68, 12, 26);
    border-radius: 4px;
}

#mensagem {
    padding-left: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mensagem1:focus {
    outline: none;
    border: 2px solid rgb(68, 12, 26);
    border-radius: 4px;
    padding-left: 9px;
}

textarea {
    margin-left: 798px;
    padding-left: 10px;
    padding-right: 200px;
    padding-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    margin-top: 10px;
    margin-left: 1108px;
    background-color: rgb(68, 12, 26);
    color: white;
    border: 2px solid;
    border-radius: 4px;
    padding: 4px;
}

button:focus {
    background-color: white;
    color: rgb(68, 12, 26);
    border: 2px solid rgb(68, 12, 26);
    border-radius: 3px;
    padding: 4px;
}


ul {
    margin-top: 150px;
    margin-left: 175px;
    list-style: none;
    font-size: 20px;
}

#contato {
    color: rgb(68, 12, 26);
}

#insta {
    margin-top: 50px;
    margin-left: 213px;

}

#x,
#face {
    margin-left: 213px;
}

#arrobaX,
#arrobaFace,
#arrobaInst {
    margin-top: -22px;
    margin-left: 250px;
}