.espaco {
  height: 100px;
}

#corpo {
  width: 90vw;
  padding: 5vw 0;
  margin-left: 5vw;
}

#texto {
  width: 60%;
}

#texto h1 {
  padding: 20px 0;
  color: rgb(68, 32, 32);
}

#texto p {
  font-size: 20px;
  padding: 10px;
  color: rgb(68, 32, 32);
}

#texto-img {
  width: 100%;
  margin-top: 50px;
}

#texto-img img {
  width: 40vw;
  border: solid 5px #8a404a;
  text-align: center;
  animation-name: mover;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}