* {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
:root {
  --cor_primaria: #5e2129;
  --cor_secundaria: rgb(219, 219, 219);
  --cor_texto: rgb(68, 32, 32);
}
nav {
  width: 100%;
  height: 60px;
  position: absolute;
  background: var(--cor_primaria);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  box-shadow: 5px rgba(0, 0, 0, 0.397);
}
nav {
  background-color: #5e2129;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav h2#menu {
  margin: 0;
}

nav h2#menu a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}

nav h2#menu a:hover {
  text-decoration: underline;
}
#menu a {
  text-decoration: none;
  color: var(--cor_secundaria);
  cursor: pointer;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: var(--cor_primaria);
  color: var(--cor_secundaria);
  text-align: center;
  margin-top: 20px;
}
footer h5 {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.container01-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

footer #logo_footer img {
  max-width: 120px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
