main h1,
main h2 {
  color: #5e2129;
  text-align: center;
}

.tit {
  padding-top: 10%;
}

/* listas */
ol li,
ul li {
  padding-bottom: 4%;
  font-size: 18px;
  margin: auto;
  width: 350px;
}

ol,
ul {
  padding-top: 1%;
  margin: 0 auto;
  margin-bottom: 8%;
  text-align: left;
  max-width: 600px;
  width: 100%;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  max-width: 800px;
}

table th,
table td {
  border: 1px solid #bbbbbb;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #5e2129;
  color: #fff;
}

table tr:hover {
  background-color: #a19f9f;
}

.checkbox {
  text-align: left;
  padding-left: 10px;
}

.left-image,
.right-image {
  position: absolute;
  width: 25%;
  height: auto;
  object-fit: cover;
}

.left-image {
  left: 65px;
  top: 150px;
}

.right-image {
  right: 65px;
  top: 150px;
}